:root {
  /* color */
  --color--white: #fbfcff;
  --color--blue: #2471ff;
  --color--gray: #5f6368;
  --color--skyblue: #cedfff;

  /* font size*/
  --font--large: 36px;
  --font--medium: 18px;
  --font--small: 14px;

  /* font weight */
  --weight--bold: 700;
  --weight--semibold: 600;
  --weight--regular: 400;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0 24px;
  background-color: var(--color--blue);
}

ul {
  padding: 0;
}

button {
  outline: none;
  border: none;
  background-color: lightskyblue;
}

.To__Do__List {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color--blue);
  padding: 24px 0;
  color: var(--color--white);
}

.To__Do__List .title {
  font-size: var(--font--large);
  font-weight: var(--weight--bold);
}

.To__Do__List .date {
  font-size: var(--font--medium);
  font-weight: var(--weight--bold);
}

.divider {
  background-color: var(--color--white);
  height: 2px;
}

.state {
  display: flex;
  justify-content: space-between;
}

.state__header {
  padding: 24px 0;
}

.box {
  position: relative;
  width: 500px;
  height: 700px;
  padding: 0 18px;
  margin: 24px;
  background-color: var(--color--white);
  border-radius: 32px;
}

.state__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.state__header span {
  font-size: var(--font--large);
  font-weight: var(--weight--semibold);
}

.state__header i {
  font-size: var(--font--large);
}

section .divider {
  background-color: black;
  height: 2px;
}

.lists {
  height: 30rem;
  overflow-y: auto;
}

#done__lists {
  height: 35rem;
}

.list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color--skyblue);
  width: 100%;
  padding: 24px 20px;
  margin: 12px 0;
  border-radius: 12px;
}

.list__name {
  font-size: var(--font--small);
  font-weight: var(--weight--semibold);
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  bottom: 0;
}

.text {
  width: 100%;
  padding: 8px;
}
.add__btn {
  padding: 12px;
  border-radius: 0 0 32px 32px;
}

.add__btn i {
  font-size: var(--font--large);
  color: var(--color--white);
  cursor: pointer;
  transition: transform 300ms ease-in;
}

.add__btn i:hover {
  transform: scale(1.1);
}

.list i {
  cursor: pointer;
  transition: transform 300ms ease-in;
}

.list i:hover {
  transform: scale(1.1);
}

#check {
  transition: transform 300ms ease-in;
}

#check:hover {
  transform: scale(1.1);
}
